<h2>Products</h2>

<div *ngFor="let product of products; index as productId">  <!-- *ngFor is a structural directive.  This allows it to shape or reshape the DOM's structure
  "let product of products" breakdown:
    "let product" creates a local variable called product that operates in this components scope.
    "products" refers to the array that the information and products are stored.
    "of products" allows it to iterate of the product array.
  -->

  <h3>
    
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]"> 
      {{ product.name}}
      <!-- {{ }} are interpolation syntax for rendering a properties value -->
      
      <!-- [ ] is the property binding expression and allows you to use a property value inside of a template expression. -->
    </a>

    
  </h3>

  <p *ngIf="product.description">
      Description:  {{product.description}}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-product-alerts [product]="product" (notify)="onNotify()">

  </app-product-alerts>

</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->